nav i {
	padding-left: 15px;
}

textarea {
	font-size: 1.4em !important;
}

h6 {
	font-weight: bold !important;
}

hr {
	width: 80%;
}

.answer {
	background-color: rgb(244, 244, 244);
	font-weight: bold;
}
